.province-sidebar {
	background: $white;
}

@media (min-width: 992px) {
	.province-sidebar,
	.philippine-map,
	.province-details-container {
		height: calc(100vh - 122px);
		max-height: calc(100vh - 122px);	
	}

	.province-sidebar {
		max-width: 90px;
	}

	.province-details-container {
		overflow-x: hidden;
		overflow-y: auto;
	}
}

.content-area {
	overflow: hidden;

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.province-search {
		font-family: 'Oswald', sans-serif;
		font-size: 0.875rem;
		text-transform: uppercase;

		.label-text {
			padding: 0.75em;
			color: $white;
			background: $gray-100;
		}

		.label-icon {
			background: $gray-content;
			
			a {
				display: inline-block;
				box-sizing: border-box;
				padding: 0.4rem;
				color: $gray-500;
				height: 35px;
				width: 100%;

				&.disabled-link {
					pointer-events: none;
					cursor: default;
				}
			}
		}

		li {
			border-bottom: 1px solid #b7b7b7;
		}

		input {
			font-family: 'Open Sans', sans-serif;
			font-size: 0.75rem;
			padding: 0.75rem;
			padding-right: 0;
			box-sizing: border-box;
			width: 80%;
			max-width: 220px;
			height: 35px;
			background: $gray-content;
			color: $gray-500;
			border: none;
			border-radius: 0;
		}
	}

	input, li {
		overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
	}

	.province-codes {
		li {
			border-bottom: 1px solid $gray-content;
			color: $white;
			cursor: pointer;
			transition: all 0.5s ease;
			height: 35px;
			line-height: 0.75rem;

			&:hover {
				opacity: 0.9;
			}
		}

		span {
			display: inline-block;
		}

		.province-number {
			padding: 0.7em 0.6em;
			min-width: 30px;
		}

		.province-text,
		.province-text-whole {
			padding: 0.7em 0.6em;
			color: $gray-500;
		}
	}

	.philippine-map {
		background: $navy;
	}

	.advanced-search-container {
		position: absolute;
		top: 10%;
		right: 30px;
	}
}

@media (min-width: 992px) {
	.content-area {
		.province-codes {
			.province-text-whole {
				display: none;
			}
		}
	}
}

@media (max-width: 992px) {
	.province-search {
		input {
			width: 100% !important;
		}
	}
}

.province-details-container {
	.province-title {
		background: $blue;
		color: $white;
		padding: 18px 24px;
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;

		#closeDetails {
			float: right;
			position: absolute;
			right: 20px;
			top: 25px;
			font-size: 18px;
			cursor: pointer;
		}
	}

	.province-details {
		padding: 1.375em 2.813em 1.750em;
		padding-top: 0;

		p {
			color: $gray-500;
		}
	}
}

// Carousel Style

.carousel-images-container {
	padding: 1.375em 2.813em 1em;
}

.card,
.card-img-top {
	border-radius: 0;
}

@media (min-width: 768px) {
	/* show 3 items */
	.carousel-inner .active,
	.carousel-inner .active + .carousel-item,
	.carousel-inner .active + .carousel-item + .carousel-item {
		display: block;
	}

	.carousel-inner
	.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
	.carousel-inner
	.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
	+ .carousel-item,
	.carousel-inner
	.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
	+ .carousel-item
	+ .carousel-item {
		transition: none;
	}

	.carousel-inner .carousel-item-next,
	.carousel-inner .carousel-item-prev {
		position: relative;
		transform: translate3d(0, 0, 0);
	}

	.carousel-inner
	.active.carousel-item
	+ .carousel-item
	+ .carousel-item
	+ .carousel-item {
		position: absolute;
		top: 0;
		right: -33.3333%;
		z-index: -1;
		display: block;
		visibility: visible;
	}

	/* left or forward direction */
	.active.carousel-item-left + .carousel-item-next.carousel-item-left,
	.carousel-item-next.carousel-item-left + .carousel-item,
	.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
	.carousel-item-next.carousel-item-left
	+ .carousel-item
	+ .carousel-item
	+ .carousel-item {
		position: relative;
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}

	/* farthest right hidden item must be abso position for animations */
	.carousel-inner .carousel-item-prev.carousel-item-right {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: block;
		visibility: visible;
	}

	/* right or prev direction */
	.active.carousel-item-right + .carousel-item-prev.carousel-item-right,
	.carousel-item-prev.carousel-item-right + .carousel-item,
	.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
	.carousel-item-prev.carousel-item-right
	+ .carousel-item
	+ .carousel-item
	+ .carousel-item {
		position: relative;
		transform: translate3d(100%, 0, 0);
		visibility: visible;
		display: block;
	}
}

.carousel-control-next,
.carousel-control-prev {
	width: 2.8em;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	width: 14px;
	height: 52px;
}

.carousel-control-prev {
	.carousel-control-prev-icon {
		background: url(../images/carousel-left.png);
	}
}

.carousel-control-next {
	.carousel-control-next-icon {
		background: url(../images/carousel-right.png);
	}
}


// map area tooltip

.tooltip ul {
	padding-left: 0;
	list-style: none;
}

svg {
	max-width: 640px;
	margin: 0 auto;
	display: block;

	path {
		transition: all 0.5s ease;

		&:hover {
			opacity: 0.8;
		}
	}
}

.map-tooltip {
	background: $white;
	padding: 0;

	.tooltip-inner {
		padding: 0;
		width: 20.625rem;
		max-width: 20.625rem;
		-webkit-box-shadow: 5px 8px 5px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 5px 8px 5px 0px rgba(0,0,0,0.25);
		box-shadow: 5px 8px 5px 0px rgba(0,0,0,0.25);

		h4 {
			color: $white;
			font-family: 'Oswald', sans-serif;
			padding: 0.750rem 1.5rem;
			text-transform: uppercase;
		}
	}
}