footer.sticky-footer {
	 position: fixed;
	 right: 0;
	 bottom: 0;
	 width: 100%;
	 height: $sticky-footer-height;
	 background-color: $gray-footer;
	 color: $white;
	 line-height: 50px;
	 @media (min-width: 992px) {
		 width: 100%;
	}
}