// Color Variables
// Bootstrap Color Defaults
$white: #fff !default;
$gray-100: #969696 !default;
$gray-200: #e9ecef !default;
$gray-300: #b9b9b9 !default;
$gray-400: #ced4da !default;
$gray-500: #a1a1a1 !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$gray-nav: #333 !default;
$gray-filter: #3c3c3c !default;
$gray-footer: #444 !default;
$gray-content: #f2f2f2 !default;
$black: #000 !default;

$blue: #1072b8 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #ee5b2f !default;
$yellow: #fef035 !default;
$green: #28a745 !default;
$teal: #19a89d !default;
$cyan: #73bee6 !default;
$navy: #364959 !default;
$light-blue: #6db2d7 !default;
$light-green: #2cb475 !default;
$sky-blue: #33acdf !default;
$faded-blue: #388ec6 !default;
$faded-green: #53c390 !default;

$orange-100: #f59131 !default;
$orange-200: #f8ae47 !default;
$orange-300: #f27a56 !default;
$orange-400: #f8bc7d !default;
$orange-500: #f59c7e !default;
$orange-600: #fabf69 !default;
$orange-700: #f7941d !default;

// Spacing Variables
// Change below variable if the height of the navbar changes
$navbar-base-height: 72px;
// Change below variable to change the width of the sidenav
$sidenav-base-width: 270px;
$province-sidenav-base-width: 90px;
$phmap-sidenav-base-width: 500px;
// Change below variable to change the width of the sidenav when collapsed
$sidenav-collapsed-width: 360px;
// Change below variable to change the height of the sticky footer
$sticky-footer-height: 50px;