html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
}

@media (min-width: 992px) {
  body {
    overflow: hidden;
  }
}

body.sticky-footer {
  margin-bottom: 50px;
}

body.sticky-footer .content-wrapper {
  min-height: calc(100vh - 50px - 72px);
}

body.fixed-nav {
  padding-top: 60px;
}

.content-wrapper {
  min-height: calc(100vh - 50px);
  background: #f2f2f2;
}

@media (min-width: 992px) {
  .content-wrapper {
    margin-top: -4px;
    padding-top: 1rem;
  }
}

.smaller {
  font-size: 0.7rem;
}

.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.bg-sky-blue {
  background: #33acdf;
}

.bg-light-green {
  background: #2cb475;
}

.bg-blue {
  background: #1072b8;
}

.bg-teal {
  background: #19a89d;
}

.bg-faded-blue {
  background: #388ec6;
}

.bg-faded-green {
  background: #53c390;
}

.bg-orange {
  background: #ee5b2f;
}

.bg-orange-100 {
  background: #f59131;
}

.bg-orange-200 {
  background: #f8ae47;
}

.bg-orange-300 {
  background: #f27a56;
}

.bg-orange-400 {
  background: #f8bc7d;
}

.bg-orange-500 {
  background: #f59c7e;
}

.bg-orange-600 {
  background: #fabf69;
}

.bg-orange-700 {
  background: #f7941d;
}

.tooltip-inner {
  padding: 13px 23px;
  color: #a1a1a1;
  text-align: center;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0;
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
  margin-top: 0;
  content: "";
  border-width: 5px 5px 5px 0;
  border-right-color: #fff;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  margin-left: -3px;
  content: "";
  border-width: 5px 5px 0;
  border-top-color: #fff;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
  margin-left: -3px;
  content: "";
  border-width: 0 5px 5px;
  border-bottom-color: #fff;
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
  right: 0;
  margin-top: -3px;
  content: "";
  border-width: 5px 0 5px 5px;
  border-left-color: #fff;
}

.map-tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before,
.map-tooltip.bs-tooltip-top .arrow::before {
  border-width: 10px 10px 0;
}

.map-tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.map-tooltip.bs-tooltip-bottom .arrow::before {
  border-width: 0 10px 10px;
}

.map-tooltip.bs-tooltip-auto[x-placement^=top] .arrow,
.map-tooltip.bs-tooltip-top .arrow {
  bottom: -6px;
}

.map-tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow,
.map-tooltip.bs-tooltip-bottom .arrow {
  top: -6px;
}

#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 75vh;
  padding-top: 10px;
}

#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
  cursor: pointer;
  color: #364959;
}

#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #6db2d7;
}

#mainNav .navbar-collapse .navbar-contact-us .nav-item .nav-link:hover {
  color: #000;
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  float: right;
  content: '\f107';
  font-family: 'FontAwesome';
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
  content: '\f105';
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level, #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level {
  padding-left: 0;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a, #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
  display: block;
  padding: 0.5em 0;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover, #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:hover {
  text-decoration: none;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a {
  padding-left: 1em;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
  padding-left: 2em;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
  position: relative;
  min-width: 45px;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  float: right;
  width: auto;
  content: '\f105';
  border: none;
  font-family: 'FontAwesome';
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator {
  position: absolute;
  top: 5px;
  left: 21px;
  font-size: 10px;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after {
  content: '\f107';
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
  overflow: hidden;
  max-width: none;
  text-overflow: ellipsis;
}

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    width: 270px;
  }
  #mainNav .navbar-collapse {
    overflow: visible;
    max-height: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 72px;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
    width: 270px;
    padding: 0;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    padding: 1.393em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level, #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    padding-left: 0;
    list-style: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li, #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li {
    width: 270px;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a, #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    padding: 1.393em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a {
    padding-left: 2.75em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    padding-left: 3.75em;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
    min-width: 0;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
    width: 24px;
    text-align: center;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
    max-width: 300px;
  }
}

h1.navbar-brand {
  margin: 0 auto;
  padding: 0;
  font-size: 0;
}

#mainNav {
  background-color: #fff !important;
}

@media (min-width: 992px) {
  .navbar {
    padding: 1rem;
    padding-left: 2.3rem;
    padding-right: 0;
  }
  #mainNav .navbar-collapse {
    padding-top: 0;
  }
  .slider-text {
    color: #fff;
  }
  b {
    color: #fff;
    margin: 0 0.63em;
  }
  .navbar-social-media, .navbar-contact-us {
    font-size: 16px;
  }
  .navbar-social-media {
    margin-right: 85px;
  }
  .navbar-contact-us .nav-item {
    position: absolute;
    top: 0;
    right: 0;
    background: #fef035;
  }
  .navbar-contact-us .nav-item .nav-link {
    padding: 24px;
  }
}

.page-links {
  text-transform: uppercase;
}

.gray-filter {
  background: #3c3c3c;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.gray-filter .nav-link {
  padding: 0.7em !important;
  padding-left: 1.214em !important;
}

.filter-slider:after {
  content: "";
  background-image: url("../images/filter-slider.png");
  width: 18px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 11px;
}

/* Slider style */
@media (max-width: 992px) {
  .gray-filter, .nav-slider-item {
    display: none;
  }
}

.slider-container {
  padding: 0;
  padding-top: 1.5em;
  padding-bottom: 2em;
  list-style-type: none;
  border-bottom: 1px solid #3c3c3c;
}

.btn-slider-filter, .btn-slider-reset {
  border-radius: 0;
  min-width: 100px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}

.btn-slider-filter {
  background: #fef035;
  color: #000;
}

.btn-slider-reset {
  background: #b9b9b9;
  color: #6d6d6d;
}

b {
  font-size: 0.86em;
}

.slider-item {
  padding-left: 1.5em;
  padding-right: 0.63em;
  padding-bottom: 1.78em;
}

.slider-filter-buttons {
  padding-bottom: 0;
}

.slider-handle {
  background: #e0e0e0;
  cursor: pointer;
  width: 15px;
  height: 15px;
  top: 3px;
}

.slider-track {
  background: #c4c5c5;
  border: 1px solid #8f8f8f;
}

.slider-selection {
  background: #3c79a0;
}

.slider-horizontal {
  width: 170px !important;
}

#mainNav.fixed-top .sidenav-toggler {
  display: none;
}

@media (min-width: 992px) {
  #mainNav.fixed-top .navbar-sidenav {
    height: calc(100vh - 122px);
  }
  #mainNav.fixed-top .sidenav-toggler {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: calc(100vh - 56px);
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item {
    width: 270px;
    padding: 0;
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
    padding: 1em;
  }
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
  background-color: #212529;
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
  color: #a1a1a1;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler {
  background-color: #b9b9b9;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler a i {
  color: rgba(0, 0, 0, 0.5);
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
  overflow-x: hidden;
}

body.sidenav-toggled #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

#mainNav.static-top .sidenav-toggler {
  display: none;
}

@media (min-width: 992px) {
  #mainNav.static-top .sidenav-toggler {
    display: flex;
  }
}

body.sidenav-toggled #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

.arrow-toggler-container {
  position: absolute;
  top: 50%;
  right: -24px;
  z-index: 1000;
}

.arrow-toggler-container #sidenavToggler {
  padding: 5px 0px;
  box-sizing: border-box;
  background: #cbcbcb;
  color: #333333;
  display: block;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  height: 36px;
  width: 24px;
}

.content-wrapper {
  overflow-x: hidden;
}

@media (min-width: 992px) {
  .content-wrapper {
    margin-left: 270px;
  }
}

#sidenavToggler i {
  font-weight: 800;
}

@media (min-width: 992px) {
  body.sidenav-toggled .content-wrapper .province-sidebar {
    width: 255px;
    max-width: 255px;
  }
  body.sidenav-toggled .content-wrapper .province-sidebar .province-text {
    display: none !important;
  }
  body.sidenav-toggled .content-wrapper .province-sidebar .province-text-whole {
    display: inline-block !important;
  }
}

body.sidenav-toggled .content-wrapper .province-search .label-icon a {
  width: 20%;
}

body.sidenav-toggled .content-wrapper .province-search input {
  display: block;
  float: left;
}

@media (max-width: 992px) {
  .arrow-toggler-container {
    display: none;
  }
  #exampleAccordion {
    display: none;
  }
  .province-text-whole {
    display: none !important;
  }
}

.province-search input {
  display: none;
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: #364959;
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  color: #364959;
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
  color: #73bee6;
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
  color: #364959;
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
  color: #6db2d7;
}

#mainNav.navbar-light .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  color: #364959;
}

@media (min-width: 992px) {
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
    background: #333;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav::-webkit-scrollbar {
    display: none;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
    color: #fff;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    color: #fff;
    border-bottom: 1px solid #3c3c3c;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
    color: #73bee6;
    font-weight: bold;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    color: #fff;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
    color: #73bee6;
    font-weight: bold;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
    color: #fff !important;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
    color: #fff;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    background: #3c3c3c;
  }
}

.province-sidebar {
  background: #fff;
}

@media (min-width: 992px) {
  .province-sidebar,
  .philippine-map,
  .province-details-container {
    height: calc(100vh - 122px);
    max-height: calc(100vh - 122px);
  }
  .province-sidebar {
    max-width: 90px;
  }
  .province-details-container {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.content-area {
  overflow: hidden;
}

.content-area ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.content-area .province-search {
  font-family: 'Oswald', sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.content-area .province-search .label-text {
  padding: 0.75em;
  color: #fff;
  background: #969696;
}

.content-area .province-search .label-icon {
  background: #f2f2f2;
}

.content-area .province-search .label-icon a {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.4rem;
  color: #a1a1a1;
  height: 35px;
  width: 100%;
}

.content-area .province-search .label-icon a.disabled-link {
  pointer-events: none;
  cursor: default;
}

.content-area .province-search li {
  border-bottom: 1px solid #b7b7b7;
}

.content-area .province-search input {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  padding: 0.75rem;
  padding-right: 0;
  box-sizing: border-box;
  width: 80%;
  max-width: 220px;
  height: 35px;
  background: #f2f2f2;
  color: #a1a1a1;
  border: none;
  border-radius: 0;
}

.content-area input, .content-area li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content-area .province-codes li {
  border-bottom: 1px solid #f2f2f2;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
  height: 35px;
  line-height: 0.75rem;
}

.content-area .province-codes li:hover {
  opacity: 0.9;
}

.content-area .province-codes span {
  display: inline-block;
}

.content-area .province-codes .province-number {
  padding: 0.7em 0.6em;
  min-width: 30px;
}

.content-area .province-codes .province-text,
.content-area .province-codes .province-text-whole {
  padding: 0.7em 0.6em;
  color: #a1a1a1;
}

.content-area .philippine-map {
  background: #364959;
}

.content-area .advanced-search-container {
  position: absolute;
  top: 10%;
  right: 30px;
}

@media (min-width: 992px) {
  .content-area .province-codes .province-text-whole {
    display: none;
  }
}

@media (max-width: 992px) {
  .province-search input {
    width: 100% !important;
  }
}

.province-details-container .province-title {
  background: #1072b8;
  color: #fff;
  padding: 18px 24px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.province-details-container .province-title #closeDetails {
  float: right;
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 18px;
  cursor: pointer;
}

.province-details-container .province-details {
  padding: 1.375em 2.813em 1.750em;
  padding-top: 0;
}

.province-details-container .province-details p {
  color: #a1a1a1;
}

.carousel-images-container {
  padding: 1.375em 2.813em 1em;
}

.card,
.card-img-top {
  border-radius: 0;
}

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }
  .carousel-inner
.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
+ .carousel-item,
  .carousel-inner
.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
+ .carousel-item
+ .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  .carousel-inner
.active.carousel-item
+ .carousel-item
+ .carousel-item
+ .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
+ .carousel-item
+ .carousel-item
+ .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
+ .carousel-item
+ .carousel-item
+ .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 2.8em;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 14px;
  height: 52px;
}

.carousel-control-prev .carousel-control-prev-icon {
  background: url(../images/carousel-left.png);
}

.carousel-control-next .carousel-control-next-icon {
  background: url(../images/carousel-right.png);
}

.tooltip ul {
  padding-left: 0;
  list-style: none;
}

svg {
  max-width: 640px;
  margin: 0 auto;
  display: block;
}

svg path {
  transition: all 0.5s ease;
}

svg path:hover {
  opacity: 0.8;
}

.map-tooltip {
  background: #fff;
  padding: 0;
}

.map-tooltip .tooltip-inner {
  padding: 0;
  width: 20.625rem;
  max-width: 20.625rem;
  -webkit-box-shadow: 5px 8px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 5px 8px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 8px 5px 0px rgba(0, 0, 0, 0.25);
}

.map-tooltip .tooltip-inner h4 {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  padding: 0.750rem 1.5rem;
  text-transform: uppercase;
}

footer.sticky-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #444;
  color: #fff;
  line-height: 50px;
}

@media (min-width: 992px) {
  footer.sticky-footer {
    width: 100%;
  }
}
