#mainNav {
	 .navbar-collapse {
		 overflow: auto;
		 max-height: 75vh;
		 padding-top: 10px;
		 .navbar-nav {
			 .nav-item {
				 .nav-link {
					 cursor: pointer;
					 color: $navy;
					 &:hover {
						 color: $light-blue;
					}
				}
			}
		}
		.navbar-contact-us {
			 .nav-item {
				 .nav-link {
					 &:hover {
						 color: $black;
					}
				}
			}
		}
		 .navbar-sidenav {
			 .nav-link-collapse:after {
				 float: right;
				 content: '\f107';
				 font-family: 'FontAwesome';
			}
			 .nav-link-collapse.collapsed:after {
				 content: '\f105';
			}
			 .sidenav-second-level, .sidenav-third-level {
				 padding-left: 0;
				 > li > a {
					 display: block;
					 padding: 0.5em 0;
					 &:focus, &:hover {
						 text-decoration: none;
					}
				}
			}
			 .sidenav-second-level > li > a {
				 padding-left: 1em;
			}
			 .sidenav-third-level > li > a {
				 padding-left: 2em;
			}
		}
		 .navbar-nav > .nav-item.dropdown {
			 > .nav-link {
				 position: relative;
				 min-width: 45px;
				 &:after {
					 float: right;
					 width: auto;
					 content: '\f105';
					 border: none;
					 font-family: 'FontAwesome';
				}
				 .indicator {
					 position: absolute;
					 top: 5px;
					 left: 21px;
					 font-size: 10px;
				}
			}
			 &.show > .nav-link:after {
				 content: '\f107';
			}
			 .dropdown-menu > .dropdown-item > .dropdown-message {
				 overflow: hidden;
				 max-width: none;
				 text-overflow: ellipsis;
			}
		}
	}
	 @media (min-width: 992px) {
		 .navbar-brand {
			 width: $sidenav-base-width;
		}
		 .navbar-collapse {
			 overflow: visible;
			 max-height: none;
			 .navbar-sidenav {
				 position: absolute;
				 top: 0;
				 left: 0;
				 -webkit-flex-direction: column;
				 -ms-flex-direction: column;
				 flex-direction: column;
				 margin-top: $navbar-base-height;
				 > .nav-item {
					 width: $sidenav-base-width;
					 padding: 0;
					 > .nav-link {
						 padding: 1.393em;
					}
					 .sidenav-second-level, .sidenav-third-level {
						 padding-left: 0;
						 list-style: none;
						 > li {
							 width: $sidenav-base-width;
							 > a {
								 padding: 1.393em;
							}
						}
					}
					 .sidenav-second-level > li > a {
						 padding-left: 2.75em;
					}
					 .sidenav-third-level > li > a {
						 padding-left: 3.75em;
					}
				}
			}
			 .navbar-nav > .nav-item.dropdown {
				 > .nav-link {
					 min-width: 0;
					 &:after {
						 width: 24px;
						 text-align: center;
					}
				}
				 .dropdown-menu > .dropdown-item > .dropdown-message {
					 max-width: 300px;
				}
			}
		}
	}
}
 h1 {
	 &.navbar-brand {
		 margin: 0 auto;
		 padding: 0;
		 font-size: 0;
	}
}
 #mainNav {
	 background-color: $white !important;
}
 @media (min-width: 992px) {
	 .navbar {
		 padding: 1rem;
		 padding-left: 2.3rem;
		 padding-right: 0;
	}
	 #mainNav {
		 .navbar-collapse {
			 padding-top: 0;
		}
	}
	 .slider-text {
		 color: $white;
	}
	 b {
		 color: $white;
		 margin: 0 0.63em;
	}
	.navbar-social-media, .navbar-contact-us {
		 font-size: 16px;
	}
	.navbar-social-media {
		 margin-right: 85px;
	}
	.navbar-contact-us {
		.nav-item {
			position: absolute;
			top: 0;
			right: 0;
			background: $yellow;
			.nav-link {
			 	padding: 24px;
			}
		}
	}
}
 .page-links {
	 text-transform: uppercase;
}
 .gray-filter {
	 background: $gray-filter;
	 font-family: 'Oswald', sans-serif;
	 text-transform: uppercase;
	 .nav-link {
		 padding: 0.7em !important;
		 padding-left: 1.214em !important;
	}
}
 .filter-slider {
	 &:after {
		 content: "";
		 background-image: url('../images/filter-slider.png');
		 width: 18px;
		 height: 18px;
		 position: absolute;
		 right: 20px;
		 top: 11px;
	}
}
/* Slider style */

 @media (max-width: 992px) {
	 .gray-filter, .nav-slider-item {
		 display: none;
	}
}
 .slider-container {
	 padding: 0;
	 padding-top: 1.5em;
	 padding-bottom: 2em;
	 list-style-type: none;
	 border-bottom: 1px solid $gray-filter;
}
 .btn-slider-filter, .btn-slider-reset {
	 border-radius: 0;
	 min-width: 100px;
	 text-transform: uppercase;
	 font-family: 'Oswald', sans-serif;
	 font-size: 14px;
}
 .btn-slider-filter {
	 background: $yellow;
	 color: $black;
}
 .btn-slider-reset {
	 background: $gray-300;
	 color: #6d6d6d;
}
 b {
	 font-size: 0.86em;
}
 .slider-item {
	 padding-left: 1.5em;
	 padding-right: 0.63em;
	 padding-bottom: 1.78em;
}
 .slider-filter-buttons {
	 padding-bottom: 0;
}
 .slider-handle {
	 background: #e0e0e0;
	 cursor: pointer;
	 width: 15px;
	 height: 15px;
	 top: 3px;
}
 .slider-track {
	 background: #c4c5c5;
	 border: 1px solid #8f8f8f;
}
 .slider-selection {
	 background: #3c79a0;
}
 .slider-horizontal {
	 width: 170px !important;
}
