.content-wrapper {
	 overflow-x: hidden;
	 @media (min-width: 992px) {
	 	margin-left: $sidenav-base-width;
	}
}
 // Toggling the Sidenav
#sidenavToggler {
	i {
		font-weight: 800;
	}
}

 body.sidenav-toggled {
	 .content-wrapper {
		 @media (min-width: 992px) {
			.province-sidebar {
				width: 255px;
				max-width: 255px;

				.province-text {
					display: none !important;
				}

				.province-text-whole {
					display: inline-block !important;
				}
			}
		}

		.province-search {
			.label-icon {
				a {
					width: 20%;
				}
			}

			input {
				display: block;
				float: left;
			}
		}

	}
}

@media (max-width: 992px) {
	.arrow-toggler-container {
		display: none;
	}
	 
	#exampleAccordion {
		display: none;
	}

	.province-text-whole {
		display: none !important;
	}
}

.province-search {
	input {
		display: none;
	}
}