#mainNav.navbar-light {
	 .navbar-collapse {
		 .navbar-sidenav {
			 .nav-link-collapse:after {
				 color: $navy;
			}
			 > .nav-item {
				 > .nav-link {
					 color: $navy;
					 &:hover {
						 color: $cyan;
					}
				}
				 .sidenav-second-level, .sidenav-third-level {
					 > li > a {
						 color: $navy;
						 &:focus, &:hover {
							 color: $light-blue;
						}
					}
				}
			}
		}
		 .navbar-nav > .nav-item.dropdown > .nav-link:after {
			 color: $navy;
		}
	}
	 @media (min-width: 992px) {
		 .navbar-collapse {
			 .navbar-sidenav {
				 background: $gray-nav;
				 overflow-x: hidden;
				 overflow-y: auto;
				-webkit-overflow-scrolling: touch;
				-ms-overflow-style: none;
    			overflow: -moz-scrollbars-none;

				&::-webkit-scrollbar {
					display: none;
				}
				 .nav-link-collapse:after {
					 color: $white;
				}
				 > .nav-item {
					 > .nav-link {
						 color: $white;
						 border-bottom: 1px solid $gray-filter;
						 &:hover {
							 color: $cyan;
							 font-weight: bold;
						}
					}
					 .sidenav-second-level, .sidenav-third-level {
						 > li > a {
							 color: $white;
							 &:focus, &:hover {
								 color: $cyan;
								 font-weight: bold;
							}
						}
					}
				}
				 li {
					 &.active {
						 a {
							 color: $white !important;
							 &:focus, &:hover {
								 color: $white;
							}
						}
					}
				}
				 > .nav-item {
					 .sidenav-second-level, .sidenav-third-level {
						 background: $gray-filter;
					}
				}
			}
		}
	}
}
 